.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background {
  background-image: url('../image/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}